@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
* {
  overflow-x: hidden;
  /* overflow-y: hidden; */
  font-family: "mukta", sans-serif;
}
p,h2,h3,button,#output,#history{
    overflow-y: hidden;
}
body{
    background-color: ghostwhite;
    position: relative;
}
#hero-section {
  min-height: 300px;
  background-color: blue;
  background: url("../assets/hero-bg.webp");
  color: white;
  position: relative;
  background-size: cover;
}
.hero-content {
  position: absolute;
  top: 50%;
  left: 30px;
  box-sizing: border-box;
}
.hero-content h1,p,li,a {
  overflow: hidden;
  color: white ;
  text-decoration: none;
}
section {
    padding: 50px 0;
}
#step1{
    /* border: 1px dashed rgba(0, 0, 0, 0.409); */
    border-radius: 10px;
    padding: 30px 50px;
    background:linear-gradient(90deg, rgba(153, 153, 153, 0.074),rgba(153, 153, 153, 0.074)) ;
}
.calc{
  display: none;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  box-sizing: border-box;
  transform: translate(-50%,-50%);
}
.closeBtn{
  position: absolute;
}

/* from github */
/* body{
	font-family: 'Open Sans',sans-serif;
	background-color: black;
} */
#container{
	width: 100%;
	height:600px;
	/* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(bgIm.jpg);  */
	margin: 20px auto;	
}
#calculator{
	width: 320px;
	height: 520px;
	background-color: #eaedef;
	margin: 0 auto;
	top: 37px;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#result{
	height: 120px;
}
#history{
	text-align: right;
	height: 20px;
	margin: 0 20px;
	padding-top: 20px;
	font-size: 15px;
	color: #919191;
}
#output{
	text-align: right;
	height: 60px;
	margin: 10px 20px;
	font-size: 30px;
}
#output-value{
  color: gray;
}
#keyboard{
	height: 400px;
}
.operator, .number, .empty{
	width: 50px;
	height: 50px;
	margin: 15px;
	float: left;
	border-radius: 50%;
	border-width: 0;
	font-weight: bold;
	font-size: 15px;
}
.number, .empty{
	background-color: #eaedef;
}
.number, .operator{
	cursor: pointer;
}
.operator:active, .number:active{
	font-size: 13px;
}
.operator:focus, .number:focus, .empty:focus{
	outline: 0;
}
button:nth-child(4){
	font-size: 20px;
	background-color: #20b2aa;
}
button:nth-child(8){
	font-size: 20px;
	background-color: #ffa500;
}
button:nth-child(12){
	font-size: 20px;
	background-color: #f08080;
}
button:nth-child(16){
	font-size: 20px;
	background-color: #7d93e0;
}
button:nth-child(20){
	font-size: 20px;
	background-color: #9477af;
}
/* end of github css */